%defaultProps {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tableStyle {
  display: flex;
  width: 100%;
  @extend %defaultProps;

  &__table {
    display: flex;
    flex: 1;
    @extend %defaultProps;
  }

  &__head,
  &__footer,
  &__body {
    @extend %defaultProps;
    width: 100%;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  &__column {
    border: 1px solid black;
    min-width: 100px;
    background: #eee;
  }

  &__scrollArea {
    flex: 1;
    min-height: 300px;
    // max-height: 300px;
    // overflow-y: scroll;
    // scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  &__row {
    &--hover {
      background: red;
    }

    &--selected {
      background: green;
    }
  }

  &__row,
  &__column {
    @extend %defaultProps;
  }

  &__cell {
    @extend %defaultProps;
    width: 100%;
  }

  &__pagination {
    @extend %defaultProps;

    ul {
      @extend %defaultProps;
      list-style: none;
    }

    li {
      @extend %defaultProps;
    }
  }

  &__resizer {
    background: grey;
    padding: 1rem;
    display: block;
    cursor: col-resize;
  }
}
