%defaultProps {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tableStyle {
  display: flex;
  width: 100%;
  @extend %defaultProps;

  &__table {
    display: flex;
    flex: 1;
    @extend %defaultProps;
  }

  &__head,
  &__footer,
  &__body {
    @extend %defaultProps;
    width: 100%;
  }

  &__column {
    border: 1px solid black;
  }

  &__row {

    &--hover {
      background: red;
    }

    &--click {
      background: green;
    }
  }

  &__row, &__column {
    @extend %defaultProps;
  }

  &__cell {
    /* Do not give a width */
    @extend %defaultProps;
  }

  &__pagination {
    @extend %defaultProps;

    ul {
      @extend %defaultProps;
      list-style: none;
    }

    li {
      @extend %defaultProps;
    }
  }
}
