.tableStyle__pagination li, .tableStyle__pagination ul, .tableStyle__pagination, .tableStyle__cell, .tableStyle__row, .tableStyle__column, .tableStyle__head, .tableStyle__footer, .tableStyle__body, .tableStyle__table, .tableStyle {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.tableStyle {
  display: flex;
  width: 100%;
}
.tableStyle__table {
  display: flex;
  flex: 1;
}
.tableStyle__head, .tableStyle__footer, .tableStyle__body {
  width: 100%;
}
.tableStyle__head {
  display: flex;
  align-items: center;
  justify-content: left;
}
.tableStyle__column {
  border: 1px solid black;
  min-width: 100px;
  background: #eee;
}
.tableStyle__scrollArea {
  flex: 1;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.tableStyle__scrollArea::-webkit-scrollbar {
  display: none;
}
.tableStyle__row--hover {
  background: red;
}
.tableStyle__row--selected {
  background: green;
}
.tableStyle__cell {
  width: 100%;
}
.tableStyle__pagination ul {
  list-style: none;
}
.tableStyle__resizer {
  background: grey;
  padding: 1rem;
  display: block;
  cursor: col-resize;
}